:root {
    --background-color-light: #ffffff;
    --background-color-dark: #1a1a1a;
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
    --service-background-color: #222027;
    --todoist-button-background-color: #db4c3f;
    --todoist-button-hover-color: #e0665a;
    --todoist-background-color: #222027;
    --obsidian-button-background-color: #7f62f5;
    --obsidian-button-hover-color: #8d79f7;
    --obsidian-background-color: #313036;
    --button-text-color: #ffffff;
}

body {
    width: 28em;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
    }
}

.service {
    background-color: var(--service-background-color);
    padding: 0.2em 1em;
    margin: 1em 0em;
    border-radius: 0.5em;
}

.service.todoist .plugin-config {
    background-color: var(--todoist-background-color);
}

.service.obsidian .plugin-config {
    background-color: var(--obsidian-background-color);
}

.todoist button {
    background-color: var(--todoist-button-background-color);
}

.todoist button:hover {
    background-color: var(--todoist-button-hover-color);
}

.obsidian button {
    background-color: var(--obsidian-button-background-color);
}

.obsidian button:hover {
    background-color: var(--obsidian-button-hover-color);
}

button {
    border: none;
    border-radius: 0.5em;
    color: var(--button-text-color);
    cursor: pointer;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    width: 100%;
}

.plugin {
    display: block;
    justify-content: center;
    align-items: center;
}

.plugin-config-container {
    align-items: center;
    border-radius: 0.5em;
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.plugin-config {
    margin-top: 1em;
}

.plugin-header-container {
    display: flex;
    cursor: pointer;
    padding: 1em 0;
}

.plugin-header-container:after {
    content: "";
    display: table;
    clear: both;
}

.header-column {
    display: flex;
    float: left;
    margin: auto;
}

.plugin-icon {
    height: 32px;
    width: 32px;
    margin-right: 1em;
}

.header-title {
    width: 100%;
}

.header-title h1 {
    margin: 0;
    padding: 0;
}
